{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 xmlns="http://www.w3.org/1999/html">Our contacts</h1>
    <form action={{ url_for ("contacts")}} method="post" class="contact-form">
    <p><label>Name: </label> <input type="text" name="username" value=""required/>
    <p><label>Email: </label> <input type="text" name="email" value=""required/>
    <p><label>Message: </label>
        <textarea name="message" rows="7" placeholder="Write your message here..."></textarea>
        <input type="submit" value="Send">
        </form>
        {% if message_sent %}
            <p><strong style="color: green;">Message sent successfully!</strong></p>
        {% endif %}
{% endblock %}